.container {
  background: #f8f9fa;
  box-sizing: border-box;
  /* margin-top: 2rem; */
}

.title {
  color: #2c3e50;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  padding-top: 1rem;
}

.amount-section {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  padding: 1.5rem;
  justify-content: center;
}

.input-group {
  flex: 1;
  max-width: 300px;
}
