.calculator-container {
  max-width: 100%;
  /* margin: 2rem auto; */
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.calculator-title {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 2rem;
  text-align: center;
}

.calculator-section {
  /* margin-bottom: 2rem;
  padding: 1.5rem;
  background: #f8f9fa;
  border-radius: 8px; */
  background: #f8f9fa;
  /* border-radius: 12px; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  box-sizing: border-box;
}

.section-title {
  color: #2c3e50;
  /* margin-bottom: 1rem; */
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0px;
  padding-top: 1rem;
}

.inputs-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  /* margin-bottom: 2rem; */
  padding: 1.5rem;
  
  border-radius: 8px;
}

.amount-section {
  grid-column: 1 / -1;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  /* background: #ffffff; */
  padding: 0.75rem;
  border-radius: 8px;
  /* border: 1px solid #ced4da; */
  /* margin-bottom: 1rem; */
  justify-content: center;
}

.amount-section .input-group {
  flex: 1;
  max-width: 200px;
}

.result-section {
  overflow-x: auto;
  margin-top: 2rem;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.charts-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}

.chart-container {
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .calculator-container {
    margin: 1rem;
    padding: 1rem;
  }

  .inputs-section {
    grid-template-columns: 1fr;
  }

  .amount-section {
    flex-direction: column;
    gap: 0.75rem;
  }

  .amount-section .input-group {
    max-width: 100%;
  }

  .amount-section .checkbox-group {
    width: 100%;
    justify-content: center;
  }

  .result-table th,
  .result-table td {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .charts-section {
    grid-template-columns: 1fr;
  }
} 